* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a {
	color: #00c;
}

header {
	margin-bottom: 20px;
	text-align: center;
}

h1 {
	color: #f5f5f5;
	font-size: 72px;
	font-style: oblique;
	font-weight: 900;
	letter-spacing: -.05em;
	margin-top: -20px;
	text-shadow: 1px 1px 2px #000;
}

h2 {
	border-bottom: 1px solid #ccc;
	color: #555;
	font-size: 20px;
	margin: 40px 0 20px;
	padding-bottom: 10px;
}

button, input, select {
	font: inherit;
	padding: 6px;
}

button {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #555;
	cursor: pointer;
	width: 150px;
}

p {
	margin-bottom: 1em;
}

ul {
	background-image: url(img/icons8-training.png);
	background-repeat: no-repeat;
	background-size: 60px;
	line-height: 1.6;
	margin-bottom: 30px;
	padding: 0 0 10px 90px;
}

.cal-header {
	background-image: url(img/desktopCal.png);
	background-size: 660px 230px;
	background-repeat: no-repeat;
	font-size: 60%;
	height: 230px;
	margin: 0 auto;
	overflow: hidden;
	width: 660px;
}
.cal-header .cal-title {
	margin: .75em 0;
	font-weight: 900;
}
.cal-header .cal-content {
	transform: skewX(-16.5deg) translateY(10px) translateX(35px);
	width: 50%;
}
.cal-header .cal-image {
	height: 90%;
	transform: skewX(-16.5deg) translateY(10px) translateX(42px);
	width: 30%;
}
.cal-header .calendar table {
	width: 85%;
	margin: 0 20px;
}
.cal-header .calendar table th,
.cal-header .calendar table td {
	height: 20px;
	font-size: 100%;
}

.description {
	color: #666;
	font-size: 13px;
	font-style: oblique;
}

.container {
	margin: 0 auto;
	max-width: 100%;
	width: 1600px;
}

.config {
	display: inline-block;
	padding: 20px 20px 20px 0;
	vertical-align: top;
	width: 800px;
}

.config-block {
	display: inline-block;
	width: calc( 50% - 20px );
}
.config-block input {
	width: 150px;
}

.right {
	float: right;
}

.custom-file-button {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #555;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 20px;
	padding: 6px;
	text-align: center;
	width: 150px;
}
.custom-file-button::before {
	background-image: url(img/icons8-image-file.png);
	background-size: 24px;
	content: '';
	display: inline-block;
	height: 24px;
	vertical-align: text-top;
	width: 24px;
}
.custom-file-button input {
	display: none;
}

.print-button::before {
	background-image: url(img/icons8-print.png);
	background-size: 24px;
	content: '';
	display: inline-block;
	height: 24px;
	margin-right: 10px;
	vertical-align: text-top;
	width: 24px;
}

.note,
.credits {
	color: #555;
	font-size: 12px;
	padding: 10px 0;
}

.credits {
	border-top: 1px dotted #ccc;
	margin-top: 50px;
}


/**
 * Preview area
 */

.preview {
	display: inline-block;
	margin: 40px 0;
}

.preview-content {
	border: 2px solid #000;
	font-size: 12pt;
	height: 250mm; /* A4 = 297mm */
	width: 185mm; /* A4 = 210mm */
}

.top-half {
	height: 50%;
	position: relative;
	transform: rotate(180deg);
}

.bottom-half {
	border-top: 1px dashed #000;
	height: 50%;
	position: relative;
}

.fold-line {
	border-top: 1px dashed #000;
	bottom: 0;
	height: 20%;
	padding-top: 25px;
	position: absolute;
	text-align: center;
	width: 100%;
}
.fold-line img {
	vertical-align: middle;
}

.elements {
	display: flex;
	height: 100%;
}

/**
 * Calendar styles
 */

.calendar table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 90%;
}
.calendar table th,
.calendar table td {
	border: 1px solid #ddd;
	height: 40px;
	padding: .5em;
	width: 14.3%;
}
.calendar table th {
	font-size: 80%;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
}
.calendar table td {
	text-align: right;
	vertical-align: top;
}
.calendar table td.disabled {
	color: #ccc;
}
.calendar table tr th:first-child,
.calendar table tr td:first-child,
td.holiday {
	color: #c00;
}
.calendar table tr td:first-child.disabled,
.calendar table td.holiday.disabled {
	color: #fcc;
}

.cal-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 80%;
	overflow: hidden;
	width: 40%;
}

.cal-content {
	width: 60%;
}

.cal-title {
	font-size: 130%;
	font-weight: bold;
	margin: 1em 0;
	text-align: center;
}

/**
 * Layout for printing
 */

@media print {

	.config,
	.github-link,
	.preview-header,
	.preview-footer {
		display: none;
	}

	.container {
		margin: 0;
		width: 100%;
	}

	.preview {
		margin: 0;
	}

	.preview-content {
		border: none;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

}