* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a {
	color: #00c;
}

header {
	margin-bottom: 20px;
	text-align: center;
}

h1 {
	color: #f5f5f5;
	font-size: 72px;
	font-style: oblique;
	font-weight: 900;
	letter-spacing: -.05em;
	margin-top: -20px;
	text-shadow: 1px 1px 2px #000;
}

h2 {
	border-bottom: 1px solid #ccc;
	font-size: 20px;
	margin: 40px 0 20px;
	padding-bottom: 10px;
}

h3 {
	font-size: 17px;
	margin-bottom: 10px;
}

label {
	display: inline-block;
}
label span {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
}

button, input, select {
	font: inherit;
	padding: 6px;
}

button, .button {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #555;
	cursor: pointer;
	display: inline-block;
	padding: 6px;
	text-align: center;
	text-decoration: none;
	width: 150px;
}

p {
	margin-bottom: 1em;
}

.bottom {
	margin-bottom: 20px;
}

.lang-selection {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	padding: 0;
}
.lang-selection li img {
	width: 32px;
}

#config, #preview {
	display: inline-block;
	margin: 0 calc( ( 100vw - 1280px ) / 4 );
}

#config {
	color: #555;
	padding: 20px;
	width: 700px;
}

.config-row {
	margin-bottom: 20px;
}

.config-blocks {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.flex-blocks {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 40px;
}

.config-block {
	display: inline-block;
}
.config-blocks input[type="text"] {
	width: 150px;
}

.right {
	float: right;
}

#layout-selector input[type="radio"] {
	display: none;
}
#layout-selector input[type="radio"]:checked + .label-layout {
	background: #ea0;
	color: #543;
	font-weight: bold;
}
.label-layout {
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
}
.label-layout:hover {
	background-color: #f0f0f0;
}
.label-layout img {
	display: block;
	height: 150px;
	margin: 0 auto;
}


.image-selector {
	height: 500px;
	margin-bottom: 20px;
}
.image-selector img {
	max-width: 100%;
}

#canvas-config input {
	width: 80px;
}

#back-config {
	display: none;
}

.custom-file-button input,
#config:not(.desktop) #back-config,
#config.digital #print-config,
#config:not(.digital) #canvas-config,
#config:not(.digital) #download-config {
	display: none;
}

.custom-file-button {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	min-width: 150px;
}
.custom-file-button::before {
	background-image: url(img/icons8-image-file.png);
	background-size: 24px;
	content: '';
	display: inline-block;
	height: 24px;
	vertical-align: text-top;
	width: 24px;
}

.print-button::before {
	background-image: url(img/icons8-print.png);
	background-size: 24px;
	content: '';
	display: inline-block;
	height: 24px;
	margin-right: 10px;
	vertical-align: text-top;
	width: 24px;
}

.download-button::before {
	background-image: url(img/icons8-download.png);
	background-size: 24px;
	content: '';
	display: inline-block;
	height: 24px;
	margin-right: 10px;
	vertical-align: text-top;
	width: 24px;
}

.rotate-button {
	border-radius: 50%;
	height: 40px;
	margin: 10px 0 0 10px;
	width: 40px;
}
.rotate-button::before {
	background-image: url(img/icons8-exchange-filled.png);
	background-size: 24px;
	content: '';
	display: inline-block;
	height: 24px;
	vertical-align: text-top;
	width: 24px;
}

#custom-holidays {
	font-size: 13px;
}
#custom-holidays-table tr td:nth-child(2) {
	text-align: center;
}
#custom-holidays-table input {
	width: 50px;
}
#custom-holidays-table button {
	width: 100px;
}

#print-config ul {
	background-image: url(img/icons8-training.png);
	background-repeat: no-repeat;
	background-size: 80px;
	line-height: 1.6;
	margin-bottom: 30px;
	padding: 0 0 10px 110px;
}

.note,
.credits {
	font-size: 12px;
	padding: 10px 0;
}

.credits {
	border-top: 1px dotted #ccc;
	line-height: 1.6;
	margin-top: 50px;
	text-align: center;
}

/* Tabs */

.tab-container {
	background: #f0f0f0;
}
.tab-container input[type="radio"] {
	display: none;
}
.tab-container .tab {
	cursor: pointer;
	margin-right: 10px;
	padding: 10px;
	text-align: center;
	width: 20%;
}
.tab-container input[type="radio"]:checked + label {
	background: #fff;
	box-shadow: inset 0 4px #ea0;
}

#front-config,
#back-config {
	background: #fff;
	display: none;
	padding-top: 20px;
}
#pos0:checked ~ #front-config,
#pos1:checked ~ #back-config {
	display: block;
}

/**
 * Preview area
 */

#preview {
	position: sticky;
	top: 10px;
	vertical-align: top;
	width: 550px;
}

.preview-header {
	font-size: 26px;
	font-style: oblique;
	font-weight: bold;
	margin-bottom: 20px;
}

.preview-content {
	box-shadow: 1px 1px 6px rgba(0,0,0,.3);
	font-size: 9pt;
	height: 715px;
	width: 550px;
}

#preview:not(.digital) #canvas,
.preview-content .note {
	display: none;
}

#canvas {
	max-height: 715px;
	max-width: 550px;
}

.top-half {
	height: 50%;
	position: relative;
	transform: rotate(180deg);
}

.bottom-half {
	border-top: 1px dashed #000;
	height: 50%;
	position: relative;
}

.fold-line {
	border-top: 1px dashed #000;
	bottom: 0;
	height: 20%;
	padding-top: 15px;
	position: absolute;
	text-align: center;
	width: 100%;
}
.fold-line img {
	vertical-align: middle;
}

.elements {
	display: flex;
	height: 100%;
}

.center {
	text-align: center;
}

/* single month wall calendar */

.wall-single .preview-content {
	font-size: 12pt;
}
.wall-single .top-half,
.wall-single .fold-line {
	display: none;
}
.wall-single .elements {
	display: block;
}
.wall-single .bottom-half {
	border-top: none;
	height: 100%;
}
.wall-single .bottom-half .cal-image,
.wall-single .bottom-half .cal-content {
	background-size: 100%;
	height: 50%;
	width: 100%;
}
.wall-single .calendar table th,
.wall-single .calendar table td {
	border-width: 1px 0;
	text-align: center;
}

/* digital wallpaper calendar */

.digital #canvas {
	display: block;
}
.digital .preview-content {
	display: none;
}

/**
 * Calendar styles
 */

.calendar {
	height: calc( 80% - 6em );
}
.calendar table {
	border-collapse: collapse;
	height: 100%;
	margin: 0 auto;
	width: 90%;
}
.calendar table th,
.calendar table td {
	border: 1px solid #ddd;
	height: 14.3%;
	padding: .5em;
	width: 14.3%;
}
.calendar table th {
	font-size: 80%;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
}
.calendar table td {
	text-align: right;
	vertical-align: top;
}
.calendar table td.prev-month,
.calendar table td.next-month {
	color: #ccc;
}
.calendar table th:first-child,
.calendar table td:first-child,
.calendar table td.holiday {
	color: #c00;
}
.calendar table td:first-child.prev-month,
.calendar table td:first-child.next-month,
.calendar table td.holiday.prev-month,
.calendar table td.holiday.next-month {
	color: #fcc;
}

.cal-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 80%;
	overflow: hidden;
	width: 40%;
}
#preview0, #preview1 {
	height: 100%;
	width: 100%;
}

.cal-content {
	width: 60%;
}

.cal-title {
	font-size: 130%;
	font-weight: bold;
	margin: 1em 0;
	text-align: center;
}

@media screen and ( max-width: 1279px ) {

	#config, #preview {
		display: block;
		margin: 0 auto;
		padding: 20px;
	}
}

/**
 * Layout for printing
 */

@media print {

	html,
	body,
	.container,
	#preview,
	.preview-content {
		height: 100%;
		margin: 0;
		width: 100%;
	}

	#config,
	.preview-header,
	.credits {
		display: none;
	}

	.preview-content {
		box-shadow: none;
		font-size: 12pt;
		left: 0;
		position: absolute;
		top: 0;
	}
	.preview-content .note {
		color: #999;
		display: block;
		margin-top: -4em;
		padding: 0;
	}

	.wall-single .preview-content {
		font-size: 15pt;
	}
	.wall-single .calendar {
		height: calc( 100% - 8em );
	}
	.wall-single .calendar table td {
		vertical-align: middle;
	}
	.wall-single .top-half .note {
		display: none;
	}
}